<div class="heading flex flex-col items-center -space-y-3 md:space-y-6">
  <h2
    class="font-lato font-medium text-2xl md:text-5xl lg:text-[60px] leading-[72px]"
  >
    Events Conducted By Us
  </h2>
  <!-- Yellow heading underline -->
  <div
    class="h-0 w-[150px] md:w-[350px] lg:w-[412px] border-[1px] md:border-2 rounded-md border-[#ffa200]"
  ></div>
</div>

<!-- events card -->
<div class="flex items-center justify-center">
  <div id="wrapper" class="relative h-[400px] w-full p-[20px] mt-[40px]">
    <ul id="carousel" class="flex h-[300px] overflow-hidden pl-[45px]">
      <!-- <li>hello</li> -->
    </ul>
  </div>
</div>

<script src = "../scripts/components/events.js"></script>