<header class="h-32">
  <nav
    class="absolute h-32 w-full text-white flex justify-between items-center text-xl font-bold left-0"
  >
    <div class="flex items-center justify-around p-10 lg:pl-28">
      <img src="./images/navlogo.png" alt="logo" class="w-auto h-16 relative" />
      <h4
        class="not-italic font-bold text-xl lg:text-2xl font-roboto tracking-widest"
      >
        VELOCITY
      </h4>
    </div>
    <div
      class="navlinks md:static fixed bg-white bg-opacity-90 md:bg-transparent md:min-h-fit min-h-[115vh] left-[-300%] top-0 w-[60%] lg:w-full flex items-start justify-center md:justify-end pl-14 md:pl-0 drop-shadow-2xl md:drop-shadow-none z-30 transition-all ease-in-out duration-500 backdrop-blur-sm pr-14 lg:pr-32"
    >
      <ul
        class="flex flex-col md:flex-row font-roboto font-light gap-20 md:gap-10 lg:gap-12 pt-48 md:pt-0"
      >
        <li class="text-3xl md:text-2xl">
          <a
            href="#home"
            class="text-black md:text-white md-hover:text-purple-300 hover:text-purple-800"
            >Home</a
          >
        </li>
        <li class="text-3xl md:text-2xl">
          <a
            href="#members"
            class="text-black md:text-white md-hover:text-purple-300 hover:text-purple-800"
            >Team Members</a
          >
        </li>
        <li class="text-3xl md:text-2xl">
          <a
            href="#footer"
            class="text-black md:text-white md-hover:text-purple-300 hover:text-purple-800"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <div class="flex items-center p-10 md:hidden">
      <ion-icon
        id="menu"
        name="menu-outline"
        class="text-5xl cursor-pointer md:hidden"
      ></ion-icon>
    </div>
  </nav>
</header>


<script src = "../scripts/components/header.js"></script>