<!-- main div -conataining heading aim and buttons-->

<section id="home" class="h-auto w-full flex flex-row flex-wrap mt-8">
<div
  class="lg:w-[55%] h-auto z-20 flex flex-col justify-center items-center md:w-[60%] w-[100%] gap-y-4 md:gap-y-6"
>
  <!-- heading div -->
  <div
    class="xl:h-[260px] xl:w-[650px] xl:-translate-x-2 font-roboto shadow-sm shadow-[#BC61F3] border-[1px] border-[#7C66C0] rounded-[20px] xl:text-7xl flex items-center justify-center text-center z-20 backdrop-blur-sm lg:text-5xl lg:h-[180px] lg:w-[480px] lg:ml-0 md:h-[150px] md:w-[400px] md:text-4xl md:ml-9 w-[320px] h-[150px] text-[32px]"
  >
    <h1>
      Velocity<br />
      IIIT Dharwad
    </h1>
  </div>

  <div
    class="text-[#ACA5B5] xl:text-4xl font-lato xl:m-7 xl:-translate-x-4 lg:text-[27px] md:text-[23px] md:m-6 md:translate-x-3 text-[17px] m-6"
  >
    <p>
      Establishing, Fostering and Expanding <br />
      the development culture of IIIT Dharwad
    </p>
  </div>

  <!-- div 3 - buttons -->
  <div
    class="flex md:flex-row flex-col md:items-center xl:-translate-x-6 md:translate-x-9 lg:translate-x-0 -translate-y-3"
  >
    <button
      id="upcoming"
      class="bg-gradient-to-r from-[#5800E8] to-[#23036A] xl:p-2 rounded-[15px] xl:w-[360px] xl:h-[57px] xl:text-[23px] hover:shadow-[inset_25rem_0_0_0] hover:text-white hover:border-[2px] hover:border-[#7a41d5] hover:shadow-bg-color duration-[400ms,700ms] transition-[color,box-shadow] lg:w-[280px] lg:h-[48px] lg:text-[23px] md:w-[210px] md:h-[42px] md:text-[18px] text-15px w-[300px] h-[45px] m-2"
    >
      Upcoming Events
    </button>

    <button
      id="ourProjects"
      class="xl:p-2 md:ml-3 bg-[#7a41d5] rounded-[15px] xl:w-[248px] xl:h-[57px] xl:text-[23px] hover:shadow-[inset_20rem_0_0_0] hover:border-[2px] hover:border-[#7a41d5] hover:shadow-bg-color duration-[400ms,700ms] transition-[color,box-shadow] lg:w-[175px] lg:h-[48px] lg:text-[23px] md:h-[42px] md:w-[150px] md:text-[18px] text-15px w-[300px] h-[45px] m-2"
    >
      Our Projects
    </button>
  </div>
</div>

<span
  class="overflow-hidden lg:w-[45%] relative xl:h-[600px] lg:h-[430px] md:h-[380px] md:w-[40%]"
>
  <img
    src="../images/logo.png"
    alt="Logo"
    class="h-full z-30 rounded-[45%] absolute p-3 m-3 lg:-top-3 md:hidden lg:block animate-spin-slower"
  />
  <img
    src="../images/sideLogo.png"
    alt="Logo"
    class="rotate-180 h-full lg:hidden absolute right-0"
  />
</span>
</section>