<section id="home" class="flex flex-row w-full h-max min-h-[100vw] md:min-h-0 items-center justify-around">
  <div class="flex flex-col h-max w-full md:w-2/5 items-center justify-center gap-y-4 lg:gap-y-8">
      <div class="flex flex-col items-center justify-center w-3/4 md:w-full text-center 
      rounded-2xl border-2 border-[#7C66C0] p-4 sm:pt-8 sm:pb-8 lg:pt-12 lg:pb-12 backdrop-blur-md
      font-roboto text-2xl md:text-3xl lg:text-4xl xl:text-6xl">
          <div class="w-max">Velocity</div>
          <div class="w-max">IIIT Dharwad</div>
      </div>

      <div class="w-3/4 md:w-full lg:w-3/4 text-center p-4 border-2 border-white md:border-transparent bg-black bg-opacity-80 md:bg-opacity-0 
      text-white md:text-[#ACA5B5] text-sm md:text-xl xl:text-2xl rounded-2xl">
          Establishing, fostering and expanding the development culture of IIIT Dharwad
      </div>

      <div class="flex flex-col md:flex-row w-full justify-center items-center gap-x-4 lg:gap-x-8 gap-y-4 text-sm md:text-xl xl:text-2xl">
          <button id="upcoming" class="w-3/4 md:w-1/2 min-w-max bg-gradient-to-r from-[#5800E8] to-[#23036A] p-2 rounded-2xl transition-all duration-700
          hover:ring-2 ring-transparent hover:ring-[#7a41d5] 
          shadow-[inset_0rem_0_0_0] hover:shadow-[inset_25rem_0_0_0] shadow-transparent hover:shadow-bg-color">
              Upcoming Events
          </button>
          <button id="ourProjects" class="w-3/4 md:w-1/2 min-w-max bg-[#7a41d5] p-2 rounded-2xl transition-all duration-700
          ring-2 ring-transparent hover:ring-[#7a41d5] 
          shadow-[inset_0rem_0_0_0] hover:shadow-[inset_25rem_0_0_0] shadow-transparent hover:shadow-bg-color">
              Our Projects
          </button>
      </div>
  </div>
  
  <div class="absolute md:relative flex flex-col items-center justify-center w-full md:w-2/5 max-w-screen-md h-full -z-20">
      <div id="home-logo-container" class="w-full aspect-square">
  
      </div>
  </div>
</section>
