<section
  id="members"
  class="flex flex-col items-center justify-center h-auto gap-8 sm:gap-16 lg:gap-20 w-full"
>
  <!-- Members heading -->
  <div class="heading flex flex-col items-center -space-y-3 md:space-y-6">
    <h2
      class="font-lato font-medium text-2xl md:text-5xl lg:text-[60px] leading-[72px]"
    >
      Meet our Incredible Team
    </h2>
    <!-- Yellow heading underline -->
    <hr class="h-0 w-[150px] md:w-[350px] lg:w-[412px] border-[1px] md:border-2 rounded-md border-[#ffa200]" />
  </div>

  <!-- Team Roles Buttons -->
  <div
    class="team-roles hidden md:flex flex-row space-x-2 md:space-x-16 lg:space-x-32 px-5"
  >
    <div
      id="FrontEnd"
      class="member-button relative inline-flex items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-white rounded hover:bg-white group cursor-pointer"
    >
      <span
        class="w-48 h-48 rounded rotate-[-40deg] bg-purple-600 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
      ></span>
      <span
        class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"
       >Front End</span
      >
    </div>
    <div
      id="BackEnd"
      class="member-button relative inline-flex items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-white rounded hover:bg-white group cursor-pointer"
    >
      <span
        class="w-48 h-48 rounded rotate-[-40deg] bg-purple-600 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
      ></span>
      <span
        class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"
        >Back End</span
      >
    </div>
    <div
      id="AppDev"
      class="member-button relative inline-flex items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-white rounded hover:bg-white group cursor-pointer"
    >
      <span
        class="w-48 h-48 rounded rotate-[-40deg] bg-purple-600 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
      ></span>
      <span
        class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"
        >App Dev</span
      >
    </div>
    <div
      id="DevOps"
      class="member-button relative inline-flex items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-white rounded hover:bg-white group cursor-pointer"
    >
      <span
        class="w-48 h-48 rounded rotate-[-40deg] bg-purple-600 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
      ></span>
      <span
        class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"
        >DevOps</span
      >
    </div>
  </div>

  <div class="md:hidden">
    <div
      class="mb-3 w-40 text-sm font-roboto relative inline-flex items-center justify-start overflow-hidden font-medium transition-all duration-150 ease-out rounded-[5px] group cursor-pointer hover:bg-white bg-purple-600"
    >
      <select
        data-to-select-init
        class="bg-transparent px-4 py-2 font-semibold cursor-pointer text-white group-hover:text-black h-full w-full"
        id="selectMembers"
        >
        <option>All</option>
        <option value="FrontEnd">Front End</option>
        <option value="BackEnd">Back End</option>
        <option value="AppDev">App Dev</option>
        <option value="DevOps">DevOps</option>
      </select>
    </div>
  </div>

  <!-- Team Members Carousel -->
  <div
    class="team-members flex flex-row flex-wrap justify-center overflow-hidden relative h-auto w-[100%] max-w-full"
    id="membersDivCarousel"
    >
    
  </div>
</section>
