<div class="flex flex-col items-center gap-4 md:mt-0 translate-y-3 z-10">
  <h2
    class="font-lato z-10 font-medium text-2xl md:text-5xl lg:text-[60px] leading-[72px] md:translate-y-16"
  >
    Modules Made in Veloris
  </h2>
  <div
    class="h-0 w-[150px] md:w-[350px] lg:w-[412px] border-[1px] md:border-2 rounded-md border-[#ffa200] z-10 md:translate-y-16 -translate-y-8"
  ></div>
</div>

<!-- tilted background -->
<div
  class="xl:h-[37rem] l:h-[37rem] w-[105rem] md:h-[32rem] h-[21rem] rotate-[-5deg] -translate-x-28 bg-gradient-to-r from-[#471162] to-[#230535] opacity-80 z-0 flex items-center justify-center absolute xl:mt-20 md:mt-16"
></div>

<div
  class="slider_container flex justify-center items-center w-full absolute top-[16%] md:top-[25%] px-10 lg:px-0"
>
  <div class="container w-full h-auto py-[50px]">
    <div
      class="swiper card_slider w-[300px] md:w-[85%] h-[200px] md:h-[270px] py-[50px]"
    >
      <div
        class="swiper-wrapper text-black w-full h-[200px] md:h-[270px]"
        id="blogCard"
      >
        <!-- cards -->
        <!-- <div class="swiper-slide h-[250px] w-[350px] rounded-lg bg-white ">

               <div class = "flex flex-row md:flex-col lg:flex-row
                justify-around items-center h-full w-full">
                <img src = "./images/eventsImg/velohack.jpg" class="h-[95%] w-[55%] md:w-[95%] md:h-[60%] lg:h-[95%] lg:w-[55%] shadow-lg shadow-black rounded-md mt-0 md:mt-4 lg:mt-0">

                <div class = "w-[34%] h-[95%] md:w-full lg:w-[28%] lg:mr-6 md:mr-0 md:mt-4 lg:h-[95%] gap-2 flex flex-col justify-around items-center">
                  <h1 class = "text-[25px]  md:text-3xl xl:text-4xl font-lato text-center shadowText">GSAP Animation</h1>
                  <button class = "w-full md:w-2/3 lg:w-full h-auto bg-gradient-to-r from-[#270263] to-[#201042] text-white p-2 rounded-md md:mb-4 lg:mb-0 mb-0 text-[10px] md:text-xl">Go to blog</button>
                </div>

               </div>

              </div> -->
        <!-- 
              <div class="swiper-slide h-[250px] w-[350px] rounded-lg bg-white overflow-hidden ">
                <iframe src = "https://iiitdwd.ac.in/" scrolling="no " class = "w-full h-full overflow-hidden"></iframe>
              </div> -->

        <!-- <iframe src = "https://iiitdwd.ac.in/" height="250px" width="350px" scrolling = "no" class = "swiper-slide rounded-lg bg-white overflow-hidden "></iframe> -->
        <!-- <iframe src = "https://iiitdwd.ac.in/" class = "swiper-slide h-[250px] w-[350px] rounded-lg bg-white overflow-hidden "></iframe>
              <iframe src = "https://iiitdwd.ac.in/" class = "swiper-slide h-[250px] w-[350px] rounded-lg bg-white overflow-hidden "></iframe>
              <iframe src = "https://iiitdwd.ac.in/" class = "swiper-slide h-[250px] w-[350px] rounded-lg bg-white overflow-hidden "></iframe> -->
      </div>
      <div class="swiper-button-next text-blue-500"></div>
      <div class="swiper-button-prev text-blue-500"></div>
    </div>
  </div>
</div>
