<!-- <section id="modules"
  class="h-[26rem] md:h-[43rem] lg:h-[55rem] flex flex-col relative overflow-hidden xl:mt-24 lg:mt-16 mt-8">

  <div class="flex flex-col items-center gap-4 md:mt-0 translate-y-3 z-10 h-full">
    <h2 class="font-lato z-10 font-medium text-2xl md:text-5xl lg:text-[60px] leading-[72px] md:translate-y-16">
      Modules Made in Veloris
    </h2>
    <div
      class="h-0 w-[150px] md:w-[350px] lg:w-[412px] border-[1px] md:border-2 rounded-md border-[#ffa200] z-10 md:translate-y-16 -translate-y-8">
    </div>
  </div>

 
  <div
    class="lg:h-[43rem] w-[105rem] md:h-[42rem] h-[21rem] rotate-[-5deg] -translate-x-28 bg-gradient-to-r from-[#471162] to-[#0e0513] opacity-80 z-0 flex items-center justify-center absolute xl:mt-20 md:mt-16">
  </div>

  <div
    class="flex md:flex-wrap h-[20%] md:h-[68%] lg:w-[85%] justify-around items-center absolute xl:left-[115px] lg:left-[85px] mt-44 flex-row w-calc[250px*5] animate-scrollOpposite md:animate-none">
    
    <div class="h-[200px] w-[300px] md:h-[250px] md:w-[350px] bg-white rounded-[20px] md:m-3  m-4"></div>
    <div class="h-[200px] w-[300px] md:h-[250px] md:w-[350px] bg-white rounded-[20px] md:m-3 m-4"></div>
    <div class="h-[200px] w-[300px] md:h-[250px] md:w-[350px] bg-white rounded-[20px] md:m-3 m-4"></div>
    <div class="h-[200px] w-[300px] md:h-[250px] md:w-[350px] bg-white rounded-[20px] md:m-3 xl:translate-x-12 m-4">
    </div>
    <div class="h-[200px] w-[300px] md:h-[250px] md:w-[350px] bg-white rounded-[20px] md:m-3 xl:-translate-x-12 m-4">
    </div>
  </div>


  </div>
</section> -->

<section id="modules"
  class="h-[30rem] md:h-[43rem] l:h-[700px] xl:h-[780px] flex flex-col relative overflow-hidden xl:mt-24 lg:mt-16 mt-8">
  <div class="flex flex-col items-center gap-4 md:mt-0 translate-y-3 z-10">
    <h2 class="font-lato z-10 font-medium text-2xl md:text-5xl lg:text-[60px] leading-[72px] md:translate-y-16 ">
      Modules Made in Veloris</h2>
    <div
      class="h-0 w-[150px] md:w-[350px] lg:w-[412px] border-[1px] md:border-2 rounded-md border-[#ffa200] z-10 md:translate-y-16 -translate-y-8">
    </div>
  </div>

  <!-- tilted background -->
  <div
    class="xl:h-[40rem] l:h-[40rem] w-[105rem] md:h-[32rem] h-[23rem] rotate-[-5deg] -translate-x-28 bg-gradient-to-r from-[#471162] to-[#230535] opacity-80 z-0 flex items-center justify-center absolute xl:mt-20 md:mt-16">
  </div>

  <div class="slider_container flex justify-center items-center w-full absolute top-[10%] md:top-[25%] px-4 lg:px-0 ">
    <div class="container w-full h-auto py-[50px] flex justify-center items-center  ">
      <div class="swiper card_slider w-[400px] md:w-[85%] h-[300px] md:h-[350px] py-[50px] ">
        <div class="swiper-wrapper text-white w-full ">
          <div class="swiper-slide h-[200px] md:h-[300px] w-[350px] rounded-md bg-white">
          </div>
          <div class="swiper-slide h-[200px] md:h-[300px] w-[350px] rounded-md bg-white">
          </div>
          <div class="swiper-slide h-[200px] md:h-[300px] w-[350px] rounded-md bg-white">
          </div>
          <div class="swiper-slide h-[200px] md:h-[300px] w-[350px] rounded-md bg-white">
          </div>
          <div class="swiper-slide h-[200px] md:h-[300px] w-[350px] rounded-md bg-white">
          </div>
        </div>
        <div class="swiper-button-next text-blue-500"></div>
        <div class="swiper-button-prev text-blue-500"></div>
      </div>
    </div>
  </div>


</section>
