<!-- Projects heading -->
<div class="heading flex flex-col items-center -space-y-3 md:space-y-6">
  <h2
    class="font-lato font-medium text-2xl md:text-5xl lg:text-[60px] leading-[72px]"
  >
    Other Projects Made By Us
  </h2>
  <!-- Yellow heading underline -->
  <div
    class="h-0 w-[150px] md:w-[350px] lg:w-[412px] border-[1px] md:border-2 rounded-md border-[#ffa200]"
  ></div>
</div>

<div
  id="timeline-box"
  class="p-[35px] sm:p-[60px] md:p-[100px] md:pb-[60px] overflow-hidden font-roboto relative before:content-[' '] before:bg-light-primary before:w-[5px] before:h-[94%] md:before:h-[88%] lg:before:h-[85%] before:absolute before:left-[50px] md:before:left-1/2 before:translate-x-[-50%]"
>
  <div class="container relative" id="projects">
    <!-- Blurred background -->
    <div
      class="blur-[150px] bg-blue-800 rounded-full -z-[40] absolute w-[150px] h-[120px] opacity-100 top-[18rem] left-[10rem]"
    ></div>
    <div
      class="blur-[150px] bg-blue-800 rounded-full -z-[40] absolute w-[200px] h-[150px] opacity-100 top-[12rem] -right-[10rem]"
    ></div>
    <div
      class="blur-[180px] bg-blue-800 rounded-full -z-[40] absolute w-[200px] h-[150px] opacity-100 bottom-[12rem] right-[25rem]"
    ></div>

    <!-- <div class="timeline-item w-full mb-[70px] after:content-[' '] after:block after:clear-both">
        <div
          class="timeline-img w-[30px] h-[30px] bg-primary rounded-[50%] absolute left-[50px] md:left-1/2 mt-[25px] ml-[-15px]">
        </div>
        <div
          class="timeline-content js--fadeInRight float-none md:float-right py-[20px] px-[30px]  after:content-[' '] after:block after:clear-both space-y-8 relative ml-[40px] md:ml-0 max-w-full w-auto md:w-[45%] py-[20px] px-[30px] rounded-[10px] bg-[#4B6CB7] bg-opacity-40  shadow-[0_25px_20px_-15px_rgba(0,0,0,0.3)]">
          <h2 class="text-4xl">Title</h2>
          <p>Project Details: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis
            alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet
            in dolores. Alias, ullam.</p>
          <a class="bnt-more bg-primary text-text py-[8px] px-[20px] uppercase text-[14px] mb-[20px] mt-[10px] inline-block rounded-2 shadow-[0_1px_3px_-1px_rgba(0,0,0,0.6)] hover:bg-dark-primary "
            href="javascript:void(0)">More</a>
        </div> -->
  </div>
</div>
