<!-- red hexagon -->
<div
  class="absolute overflow-hidden -rotate-[30deg] top-[35rem] hidden md:block"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
    <linearGradient id="redgrad">
      <stop stop-color="#FF7B5F" />
      <stop offset="100%" stop-color="#FF1F00" />
    </linearGradient>
    <path
      stroke="none"
      fill="url(#redgrad)"
      d="M31 2.8867513459481a10 10 0 0 1 10 0l21.17691453624 12.226497308104a10 10 0 0 1 5 8.6602540378444l0 24.452994616207a10 10 0 0 1 -5 8.6602540378444l-21.17691453624 12.226497308104a10 10 0 0 1 -10 0l-21.17691453624 -12.226497308104a10 10 0 0 1 -5 -8.6602540378444l0 -24.452994616207a10 10 0 0 1 5 -8.6602540378444"
    ></path>
  </svg>
</div>

<!-- grey hexagon -->
<div
  class="absolute opacity-20 right-0 -top-16 hidden lg:block overflow-hidden"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="200"
    height="200"
    class="relative rotate-[30deg] -right-12"
  >
    <path
      stroke="none"
      fill="#A9A9A9"
      d="M95 2.8867513459482a10 10 0 0 1 10 0l76.602540378444 44.226497308104a10 10 0 0 1 5 8.6602540378444l0 88.452994616207a10 10 0 0 1 -5 8.6602540378444l-76.602540378444 44.226497308104a10 10 0 0 1 -10 0l-76.602540378444 -44.226497308104a10 10 0 0 1 -5 -8.6602540378444l1.4087553044217e-13 -88.452994616207a10 10 0 0 1 5 -8.6602540378444"
    ></path>
  </svg>
</div>

<!-- seaGreen hexagon -->
<div
  class="absolute right-20 top-8 rotate-[25deg] lg:rotate-0 lg:right-16 lg:top-12 hidden md:block"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="94" height="94">
    <linearGradient id="bluegrad">
      <stop stop-color="#00D1FF" />
      <stop offset="80%" stop-color="#1F9ABC" />
    </linearGradient>
    <path
      stroke="none"
      fill="url(#bluegrad)"
      d="M42 2.8867513459481a10 10 0 0 1 10 0l30.703193977869 17.726497308104a10 10 0 0 1 5 8.6602540378444l0 35.452994616207a10 10 0 0 1 -5 8.6602540378444l-30.703193977869 17.726497308104a10 10 0 0 1 -10 0l-30.703193977869 -17.726497308104a10 10 0 0 1 -5 -8.6602540378444l0 -35.452994616207a10 10 0 0 1 5 -8.6602540378444"
    ></path>
  </svg>
</div>

<div class="flex flex-col items-center z-10 lg:gap-4">
  <!-- heading -->
  <h6
    class="font-Montserrat z-10 font-small text-sm md:text-xl lg:text-[30px] text-[#ffa200]"
  >
    What IIITDWD says
  </h6>
  <h2 class="font-lato z-10 font-medium text-3xl md:text-5xl lg:text-[65px]">
    Testimonials
  </h2>
</div>

<!-- grid divs -->
<div
  class="grid gap-4 lg:p-24 md:p-12 p-8 lg:pb-10 lg:grid-cols-xlcolminmax grid-cols-colminmax xl:grid-rows-xlrowminmax md:grid-rows-mdrowminmax grid-rows-rowminmax"
>
  <!-- box 1 -->
  <div
    class="bg-purplergba rounded-[20px] md:row-start-1 md:row-end-3 flex flex-col justify-center p-6 z-10"
  >
    <!-- profile and name div -->
    <div class="flex mb-5">
      <img src="./images/sampleImg.jpeg" class="h-10 w-10 rounded-full mr-4" />
      <h3 class="text-3xl">John</h3>
    </div>
    <!-- comment div -->
    <div class="font-lato overflow-hidden">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, commodi! Ex
      animi pariatur unde neque, natus tempore, rerum dolore harum officia
      labore, iusto eum dolorum alias optio ab nam dignissimos! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Eos soluta modi rem qui
      placeat vitae, quo.
    </div>
  </div>

  <!-- box -2 -->
  <div
    class="bg-purplergba rounded-[20px] md:row-start-3 md:row-end-5 flex flex-col justify-center p-6 z-10"
  >
    <!-- profile and name div -->
    <div class="flex mb-5">
      <img src="./images/sampleImg.jpeg" class="h-10 w-10 rounded-full mr-4" />
      <h3 class="text-3xl">John</h3>
    </div>
    <!-- comment div -->
    <div class="font-lato overflow-hidden">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, commodi! Ex
      animi pariatur unde neque, natus tempore, rerum dolore harum officia
      labore, iusto eum dolorum alias optio ab nam dignissimos! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Eos soluta modi rem qui
      placeat vitae, quo.
    </div>
  </div>

  <!-- box-3 -->
  <div class="bg-purplergba rounded-[20px] flex flex-col justify-center p-6">
    <!-- profile and name div -->
    <div class="flex mb-3">
      <img src="./images/sampleImg.jpeg" class="h-8 w-8 rounded-full mr-4" />
      <h3 class="text-2xl">John</h3>
    </div>
    <!-- comment div -->
    <div class="font-lato overflow-hidden">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, commodi! Ex
      animi pariatur unde neque, natus tempore, rerum dolore harum officia
      labore, iusto eum dolorum alias optio ab nam dignissimos! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Eos soluta modi rem qui
      placeat vitae, quo.
    </div>
  </div>

  <!-- box-4  -->
  <div
    class="bg-purplergba rounded-[20px] md:row-start-2 md:row-end-5 md:flex flex-col justify-center p-6 hidden moreContent"
  >
    <!-- profile and name div -->
    <div class="flex mb-5">
      <img src="./images/sampleImg.jpeg" class="h-10 w-10 rounded-full mr-4" />
      <h3 class="text-3xl">John</h3>
    </div>
    <!-- comment div -->
    <div class="font-lato overflow-hidden">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, commodi! Ex
      animi pariatur unde neque, natus tempore, rerum dolore harum officia
      labore, iusto eum dolorum alias optio ab nam dignissimos! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Eos soluta modi rem qui
      placeat vitae, quo Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Fugiat deserunt tempore laudantium tenetur, error maiores. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Eius quibusdam ex
      fugit ipsum ad qui amet harum repellendus deleniti minus. Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Blanditiis culpa aliquid
      mollitia earum vero odio delectus perferendis tenetur autem consequatur.
    </div>
  </div>

  <!-- box-5 -->
  <div
    class="bg-purplergba rounded-[20px] md:row-start-1 md:row-end-4 md:flex flex-col justify-center p-6 hidden moreContent"
  >
    <!-- profile and name div -->
    <div class="flex mb-5">
      <img src="./images/sampleImg.jpeg" class="h-10 w-10 rounded-full mr-4" />
      <h3 class="text-3xl">John</h3>
    </div>
    <!-- comment div -->
    <div class="font-lato overflow-hidden">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, commodi! Ex
      animi pariatur unde neque, natus tempore, rerum dolore harum officia
      labore, iusto eum dolorum alias optio ab nam dignissimos! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Eos soluta modi rem qui
      placeat vitae, quo Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Fugiat deserunt tempore laudantium tenetur, error maiores. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Eius quibusdam ex
      fugit ipsum ad qui amet harum repellendus deleniti minus. Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Blanditiis culpa aliquid
      mollitia earum vero odio delectus perferendis tenetur autem consequatur.
    </div>
  </div>

  <!-- box-6 -->
  <div
    class="bg-purplergba rounded-[20px] md:flex flex-col justify-center p-6 hidden moreContent"
  >
    <!-- profile and name div -->
    <div class="flex mb-3">
      <img src="./images/sampleImg.jpeg" class="h-8 w-8 rounded-full mr-4" />
      <h3 class="text-2xl">John</h3>
    </div>
    <!-- comment div -->
    <div class="font-lato overflow-hidden">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, commodi! Ex
      animi pariatur unde neque, natus tempore, rerum dolore harum officia
      labore, iusto eum dolorum alias optio ab nam dignissimos! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Eos soluta modi rem qui
      placeat vitae, quo.
    </div>
  </div>
</div>

<!-- more button -->
<div class="flex justify-center mb-10 md:hidden">
  <button
    id="testimonialBtn"
    class="rounded-[10px] shadow-[inset_25rem_0_0_0] text-white border-[2px] border-[#7a41d5] shadow-bg-color duration-[400ms,700ms] transition-[color,box-shadow] text-[15px] w-[180px] h-[45px] -translate-y-2"
  >
    Show more
  </button>
</div>
