<section id="timeline" class="flex items-center justify-center h-auto font-lato relative">
<!-- hexagon -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="200"
  height="200"
  class="opacity-20 absolute hidden lg:block right-20 xl:right-16 -top-16 xl:-top-30 -z-10"
>
  <path
    stroke="none"
    fill="#A9A9A9"
    d="M95 2.8867513459482a10 10 0 0 1 10 0l76.602540378444 44.226497308104a10 10 0 0 1 5 8.6602540378444l0 88.452994616207a10 10 0 0 1 -5 8.6602540378444l-76.602540378444 44.226497308104a10 10 0 0 1 -10 0l-76.602540378444 -44.226497308104a10 10 0 0 1 -5 -8.6602540378444l1.4087553044217e-13 -88.452994616207a10 10 0 0 1 5 -8.6602540378444"
  ></path>
</svg>

<div
  class="w-[80%] h-80 mt-6 md:mt-6 mx-16 mb-6 md:mb-14 lg:mb-20 rounded-[20px] bg-gradient-to-l from-[#09219F] to-[#2A4DCA] shadow-md relative flex items-center justify-evenly"
>
  <div class="flex flex-col justify-end items-start h-48 w-[30%]">
    <p class="text-4xl m-10 mb-4">2021</p>
    <!-- <p class = "text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis dignissimos unde incidunt rerum possimus dolorem, molestias laboriosam magni repudiandae </p> -->
  </div>
  <!-- curve 1-->
  <!-- <svg width="500" height="500" viewbox="0 0 500 500" class="absolute left-20 translate-y-5 "><path id="path" stroke="#fff" fill="none" stroke-width="2" d="M91,294 c175,6 126,-117 340,-125" />
    </svg> -->

  <div class="flex flex-col justify-center items-center h-48 w-[30%]">
    <p class="text-6xl p-5 font-bold">2022</p>
    <!-- <p class = "text-center lg:text-[20px] font-medium mt-4">Velocity Club, started working offline capacity, recruited more members and did their first event Coding With Coffee</p> -->
  </div>
  <!-- curve 2 -->
  <!-- <svg width="500" height="500" viewbox="0 0 500 500" class="absolute right-20 -translate-y-7 "><path id="path" stroke="#fff" fill="none" stroke-width="2" d="M65,220 c212,-9 172,127 342,119" />
    </svg> -->

  <div class="flex flex-col justify-end items-end h-48 w-[30%]">
    <p class="text-4xl m-10 mb-4">2023</p>
    <!-- <p class = "text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem sit aspernatur laudantium magni sed exercitationem. Sequi at quos error adipisci commodi .</p> -->
  </div>
</div>
</section>