<section id="timeline" class="flex items-center justify-center h-auto font-lato relative overflow-hidden">
<!-- hexagon -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="200"
  height="200"
  class="opacity-20 absolute hidden lg:block right-20 xl:right-16 -top-16 xl:-top-30 -z-10"
>
  <path
    stroke="none"
    fill="#A9A9A9"
    d="M95 2.8867513459482a10 10 0 0 1 10 0l76.602540378444 44.226497308104a10 10 0 0 1 5 8.6602540378444l0 88.452994616207a10 10 0 0 1 -5 8.6602540378444l-76.602540378444 44.226497308104a10 10 0 0 1 -10 0l-76.602540378444 -44.226497308104a10 10 0 0 1 -5 -8.6602540378444l1.4087553044217e-13 -88.452994616207a10 10 0 0 1 5 -8.6602540378444"
  ></path>
</svg>

  <!-- Left Control -->
  <button class="md:hidden rounded-full absolute z-10 w-7 h-7 left-5" id="left-control">
    <svg viewBox="0 0 330.002 330.002" fill="white" transform="scale(-1, 1)">
      <path d="M233.252,155.997L120.752,6.001c-4.972-6.628-14.372-7.97-21-3c-6.628,4.971-7.971,14.373-3,21 l105.75,140.997L96.752,306.001c-4.971,6.627-3.627,16.03,3,21c2.698,2.024,5.856,3.001,8.988,3.001 c4.561,0,9.065-2.072,12.012-6.001l112.5-150.004C237.252,168.664,237.252,161.33,233.252,155.997z"/>
    </svg>
  </button>
  
  <!-- Right Control -->
  <button class="md:hidden rounded-full absolute z-10 w-7 h-7 right-5" id="right-control">
    <svg viewBox="0 0 330.002 330.002" fill="white">
      <path d="M233.252,155.997L120.752,6.001c-4.972-6.628-14.372-7.97-21-3c-6.628,4.971-7.971,14.373-3,21 l105.75,140.997L96.752,306.001c-4.971,6.627-3.627,16.03,3,21c2.698,2.024,5.856,3.001,8.988,3.001 c4.561,0,9.065-2.072,12.012-6.001l112.5-150.004C237.252,168.664,237.252,161.33,233.252,155.997z"/>
    </svg>
  </button>

<div 
  class="flex flex-row gap-48 md:gap-0 font-inter p-4 w-full md:h-80 mt-6 mx-4 md:mx-10 mb-6 md:mb-14 lg:mb-20 rounded-[20px] bg-gradient-to-l from-[#09219F] to-[#2A4DCA] shadow-md relative items-center md:justify-evenly overflow-x-scroll md:overflow-auto snap-x snap-mandatory no-scrollbar"
  id="timeline-container"
>

  <!-- Rocket -->
  <div id="rocket" class="absolute" >
    <img class="w-20 h-20 md:w-24 md:h-24" src="../images/rocket.png" alt="rocket" >
  </div>

  <!-- Curves and Rocket Path -->
  <svg class="absolute w-full h-full" id="path-svg">
    <path fill="none" stroke="white" stroke-dasharray="3" stroke-width="1" class="hidden md:block" id="left-curve" />
    <path fill="none" stroke="white" stroke-dasharray="3" stroke-width="1" class="hidden md:block" id="right-curve" />
    <path fill="none" id="rocket-path"/>
  </svg>

  <!-- Previous Year -->
  <div class="hidden md:flex flex-col justify-end items-start h-48 w-[30%]">
    <p class="text-4xl m-10 mb-4">
      <span id="prev-year" class="relative cursor-pointer"></span>
    </p>
  </div>

  <!-- Current Year -->
  <div class="hidden md:flex flex-col justify-center items-center h-48 w-[30%]">
    <p class="text-5xl lg:text-6xl p-5 font-bold absolute -mt-28 lg:-mt-20">
      <span id="curr-year"></span>
    </p>
    <p class = "text-center font-bold mt-28 text-sm lg:text-base relative" id="curr-year-text"></p>
  </div>

  <!-- Next Year -->
  <div class="hidden md:flex flex-col justify-end items-end h-48 w-[30%]">
    <p class="text-4xl m-10 mb-4">
      <span id="next-year" class="relative cursor-pointer"></span>
    </p>
  </div>

</div>
</section>