<section id="timeline" class="flex items-center justify-center h-auto font-lato relative">
<!-- hexagon -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="200"
  height="200"
  class="opacity-20 absolute hidden lg:block right-20 xl:right-16 -top-16 xl:-top-30 -z-10"
>
  <path
    stroke="none"
    fill="#A9A9A9"
    d="M95 2.8867513459482a10 10 0 0 1 10 0l76.602540378444 44.226497308104a10 10 0 0 1 5 8.6602540378444l0 88.452994616207a10 10 0 0 1 -5 8.6602540378444l-76.602540378444 44.226497308104a10 10 0 0 1 -10 0l-76.602540378444 -44.226497308104a10 10 0 0 1 -5 -8.6602540378444l1.4087553044217e-13 -88.452994616207a10 10 0 0 1 5 -8.6602540378444"
  ></path>
</svg>

<div 
  class="hidden md:flex font-inter relative items-center justify-evenly w-full h-80 mt-6 md:mt-6 mx-16 mb-6 md:mb-14 lg:mb-20 rounded-[20px] bg-gradient-to-l from-[#09219F] to-[#2A4DCA] shadow-md"
>
  <!-- Curves and Rocket Path -->
  <svg class="absolute w-full h-full" id="path-svg">
    <path fill="none" stroke="white" stroke-dasharray="3" stroke-width="1" id="left-curve" />
    <path fill="none" stroke="white" stroke-dasharray="3" stroke-width="1" id="right-curve" />
    <path fill="none" id="rocket-path"/>
  </svg>

  <!-- Previous Year -->
  <div class="flex flex-col justify-end items-start h-48 w-[30%]">
    <p class="text-4xl m-10 mb-4">
      <span id="prev-year" class="relative">
        2021
      </span>
    </p>
  </div>

  <!-- Current Year -->
  <div class="flex flex-col justify-center items-center h-48 w-[30%]">
    <p class="text-5xl lg:text-6xl p-5 font-bold absolute -mt-28 lg:-mt-20">
      <span id="curr-year">
        2022
      </span>
    </p>
    <p class = "text-center font-bold mt-28 text-sm lg:text-base relative" id="curr-year-text"></p>
  </div>

  <!-- Next Year -->
  <div class="flex flex-col justify-end items-end h-48 w-[30%]">
    <p class="text-4xl m-10 mb-4" >
      <span id="next-year" class="relative">
        2023
      </span>
    </p>
  </div>

</div>
</section>